<div class="container">
    <div class="title_div">
      <h1>Todo List for {{ user?.name }}</h1>

      <div>
        <button mat-raised-button class="buttons-all" (click)="createTodo()" style="margin-right: 20px;">
            <mat-icon>add</mat-icon>
            <span>Create Todo</span>
        </button>

        <button mat-raised-button class="buttons-all" (click)="backToUsers()">
            <mat-icon>arrow_back</mat-icon>
            <span>Back to Users</span>
        </button>
      </div>
      
    </div>
  
    <mat-form-field class="filter">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        #input
      />
    </mat-form-field>
  
    <div class="table mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
     
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
  
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>TITLE</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>
  
        <ng-container matColumnDef="completed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.completed" style="color: green;">Completed</span>
            <span *ngIf="!element.completed" style="color: red;">Not Completed</span>
          </td>
        </ng-container>
  
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element" class="actions">
  
            <mat-icon class="icon edit" matTooltip="Edit todo" (click)="editTodo(element)">edit</mat-icon>
            <mat-icon class="icon delete" matTooltip="Delete todo" (click)="deleteTodo(element.id)">delete</mat-icon>
              
  
          </td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
  
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of todos"
      ></mat-paginator>
    </div>
  </div>
  